.dialog {
    width: 100%;
    display: none;
}
.dialog-opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.2;
    display: none;
}
.dialog-content {
    background-color: #fff;
    width: 600px;
    height: 300px;
    position: absolute;
    top: calc(50%);
    display: none;
}
