.menu-list {
    width: 100%;
}
.menu-list__item {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    cursor: pointer;
}
.menu-list__item:hover{
    background-color: #e5e5e5;
}
.menu-list__item--icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.menu-list__item--icon img{
    width:100%;
}
.menu-list__item--txt{
    font-weight: 600;
}